.text-decorator-none{
    text-decoration: none;
}
.card:hover{
    transform: translateY(-10px); 
    cursor: pointer;
    position:relative;
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    background-color: #0001209e;
    color: #fff;
}