
.barra{
    background-color: blue !important;

}
.text-decorator-none{
    text-decoration: none;
}
.estilo{
    background-color: black !important;
}
.cursor{
    color: white;
    
}
.text-decorator-{
    color: white;
}
